<div class="edit-toto">
    <form ng-submit="updateItem(editedItem)">
        <input ng-model="editedItem.title" type="text" placeholder="title">

        <select ng-model="editedItem.category">
            <option ng-repeat="category in categories" value="{{category.name}}">{{ category.name }}</option>
        </select>

        <!--<input ng-model="editedItem.category" type="text" placeholder="category">-->

        <input type="submit" value="Edit">
        <input ng-click="cancelEditing()" type="button" value="Cancel">
    </form>
</div>
