<h1> {{ itemsListController.currentCategoryName }}</h1>

<h3>Items</h3>

<ul>
    <li ng-repeat="item in itemsListController.items | filter:{category:currentCategory.name}">
        {{ item.title }}
        <a href="#" ng-click="setEditedItem(item);startEditing()">Edit</a>
        <a href="#" ng-click="deleteItem(item)">Delete</a>
    </li>
</ul>


<div ng-if="shouldShowCreating()" class="create-todo">
    <hr>
    <h3><a href="#" ng-click="startCreating()"> + Create item</a></h3>

    <form ng-if="isCreating" ng-submit="createItem(newItem);">
        <input ng-model="newItem.title" type="text" placeholder="title">

        <select ng-model="newItem.category">
            <option ng-repeat="category in categories"  value="{{category.name}}">{{ category.name }}</option>
        </select>
        <!--<input ng-model="newItem.category" type="text" placeholder="category">-->

        <input type="submit" value="Create">
        <input ng-click="cancelCreating();" type="button" value="Cancel">
    </form>

</div>

<div ng-if="shouldShowEditing()" class="edit-toto">
    <hr>
    <h3>Edit {{ editedItem.title }}</h3>
    <form ng-submit="updateItem(editedItem)">
        <input ng-model="editedItem.title" type="text" placeholder="title">

        <select ng-model="editedItem.category">
            <option ng-repeat="category in categories" value="{{category.name}}">{{ category.name }}</option>
        </select>

        <!--<input ng-model="editedItem.category" type="text" placeholder="category">-->

        <input type="submit" value="Edit">
        <input ng-click="cancelEditing()" type="button" value="Cancel">
    </form>
</div>